<img id="spinner" src="/Images/spinner.gif" style="position:fixed;top:50%;left:50%;z-index: 1000" ng-show="loading" />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Mail Details: {{mail.subject}}</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal" name="mailForm">

            <div class="form-group">
                <label for="mailFrom" class="col-sm-3 control-label">From:</label>
                <div class="col-sm-9">
                    <input type="email" id="mailFrom" name="mailFrom" disabled="true" required class="form-control" ng-model="mail.from" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.mailFrom.$dirty && mailForm.mailFrom.$invalid">
                        Invalid:
                        <span ng-show="mailForm.mailFrom.$error.email">This is not a valid email.</span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">E-Mail Recipients</h3>
                        </div>

                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <select class="form-control" ng-model="newMail.type">
                                        <option value="TO" selected="">TO</option>
                                        <option value="CC">CC</option>
                                        <option value="BCC">BCC</option>
                                    </select>
                                </div>


                                <div class="col-sm-6">
                                    <input type="email" id="newMail"  name="newMail" class="form-control" ng-model="newMail.address" />
                                    
                                    <div class="alert alert-info"
                                         ng-show="newMail.address && mailForm.newMail.$valid">
                                        <span>Click on Add to inlude this e-mail</span>
                                    </div>

                                    <div class="alert alert-danger"
                                         ng-show="mailForm.newMail.$invalid">
                                        <span>Invalid e-mail address.</span>
                                    </div>
                                </div>

                                <input type="button"
                                       value="Add"
                                       class="btn btn-primary"
                                       ng-click="addNewRecipient()"
                                       ng-disabled="mailForm.newMail.$invalid" />
                            </div>
                        </div>


                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="recipient in mail.recipients">
                                    <tr>
                                        <td ng-switch on="recipient.type">
                                            <span ng-switch-when="TO" class="label label-success">To:</span>
                                            <span ng-switch-when="CC" class="label label-info">CC:</span>
                                            <span ng-switch-when="BCC" class="label label-warning">BCC:</span>
                                        </td>
                                        <td>{{recipient.address}}</td>
                                        <td><button type="button" ng-click="deleteRecipient($index)" class="btn btn-sm btn-link">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="subject" class="col-sm-3 control-label">Subject:</label>
                <div class="col-sm-9">
                    <input type="text" id="subject" name="subject" required class="form-control" ng-model="mail.subject" />
                </div>
            </div>

            <div class="form-group">
                <label for="message" class="col-sm-3 control-label">Message</label>
                <div class="col-sm-9">
                    <textarea id="message" name="message" class="form-control" rows="5" cols="3" ng-model="mail.message"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn btn-success" ng-click="sendMail()">Send</button>
                    <button type="button" class="btn btn btn-danger" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>