<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Mail Details: {{mail.subject}}</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal" name="mailForm">
            
            <div class="form-group">
                <label for="mailFrom" class="col-sm-3 control-label">From:</label>
                <div class="col-sm-9">
                    <input type="email" id="mailFrom" name="mailFrom" required class="form-control" ng-model="mail.from" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.mailFrom.$dirty && mailForm.mailFrom.$invalid">
                        Invalid:
                        <span ng-show="mailForm.mailFrom.$error.email">This is not a valid email.</span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="mailTo" class="col-sm-3 control-label">To:</label>
                <div class="col-sm-9">
                    <input type="email" multiple="" id="mailTo" name="mailTo" class="form-control" ng-model="mail.to" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.mailTo.$invalid">
                        Invalid:
                        <span ng-show="mailForm.mailTo.$error.email">This is not a valid email.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="mailCC" class="col-sm-3 control-label">CC:</label>
                <div class="col-sm-9">
                    <input type="email" id="mailCC" name="mailCC" multiple="" class="form-control" ng-model="mail.cc" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.mailCC.$dirty && mailForm.mailCC.$invalid">
                        Invalid:
                        <span ng-show="mailForm.mailCC.$error.email">This is not a valid email.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="mailBCC" class="col-sm-3 control-label">BCC:</label>
                <div class="col-sm-9">
                    <input type="email" id="mailBCC" name="mailBCC" multiple="" class="form-control" ng-model="mail.bcc" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.mailBCC.$dirty && mailForm.mailBCC.$invalid">
                        Invalid:
                        <span ng-show="mailForm.mailBCC.$error.email">This is not a valid email.</span>
                    </div>
                </div>
            </div>
            
            
            <div class="alert alert-danger" ng-show="mailForm.mailTo.$error.required && mailForm.mailCC.$error.required && mailForm.mailBCC.$error.required">
                Invalid:
                <span>Introduce an e-mail.</span>
            </div>

            <div class="form-group">
                <label for="subject" class="col-sm-3 control-label">Subject:</label>
                <div class="col-sm-9">
                    <input type="text" id="subject" name="subject" required class="form-control" ng-model="mail.subject" />
                    
                    <div class="alert alert-danger" ng-show="mailForm.subject.$error.required">
                        <span>Introduce a subject.</span>
                    </div>
                </div>
            </div>            

            <div class="form-group">
                <label for="message" class="col-sm-3 control-label">Message</label>
                <div class="col-sm-9">
                    <textarea id="message" name="message" class="form-control" rows="5" cols="3" ng-model="mail.message"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn btn-success" ng-click="sendMail()">Send</button>
                    <button type="button" class="btn btn btn-danger" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>